.quote-review-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote-review-header {
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 0;
}

.form-search-btn.disabled {
    background: #DEDEDE;
}
