.page-services-section {
    margin-top: 58px;
}

.page-services-header {
    padding: 30px;
}

.see-garages-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.btn-see-garages{
    border-radius: 5px;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px !important;
    margin-left: 20px;
    width: auto;
}

.page-services-section-container {
    padding-left: 70px;
    padding-right: 70px;
}

@media screen and (max-width: 991px) {
    .page-services-header h2 {
        font-size: 1.75rem;
        text-align: center;
    }
}