.gt-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.6);
}

.gt-modal-content {
    position: fixed;
    width: 50%;
    height: auto;
    background: white;
    z-index: inherit;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.gt-modal-container > span {
    color: #ffffff;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    padding: 10px;
    padding-right: 20px;
    padding-top: 0px;
    width: fit-content;
}

.gt-modal-container > span:hover {
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    .gt-modal-content {
        width: 96%;
    }
}