.ongoing-quote-empty-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e9ecef;
    padding: 50px;
}

.no-quote-header {
    font-size: 30px;
}

.no-quote-subheader {
    font-size: 20px;
    margin-top: 10px;
}

.quote-history {
    padding: 40px;
    padding-top: 0;
    background: #efefef;
}

.quote-request-garage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ongoing-quote-header,
.completed-quote-header {
    padding: 20px 0px;
}

@media screen and (max-width: 991px) {
    .quote-history {
        padding: 0;
    }
    .ongoing-quote-header {
        padding: 10px 0;
        padding-top: 0;
    }
    .quote-request-header_h2 {
        font-size: 1.5rem;
    }
}