.admin-quote-request-item {
    border: 1px solid rgba(0, 0, 0, 0.125);
    background: #efefef;
}

.admin-quote-request-item + .admin-quote-request-item {
    margin-top: 25px;
}

.admin-quote-request-item-container {
    display: flex;
    padding: 10px;
    background: #fff;
}

.admin-quote-request-garage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0.3;
    text-align: center;
}

.admin-quote-request-garage:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.125);
}

.admin-quote-request-garage-name {
    font-size: 25px;
    color: #cb202d;
    font-weight: 500;
}

.admin-quote-request-garage-address {
    font-size: 20px;
}

.admin-quote-request-garage-img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.admin-quote-request-garage-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.admin-quote-request-detail-fare {
    margin-top: auto;
    margin-left: auto;
    font-size: 25px;
    font-weight: 500
}


.admin-quote-request-detail-fare span {
    color: #3deb2d;
}

.vertical-line {
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin: 0 10px;
}

.admin-quote-request-detail {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    flex: 1;
}

.admin-quote-request-detail-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.admin-quote-request-detail-header-date span {
    color: #cb202d;
}

.admin-quote-request-detail-header-status span {
    color: #cb202d;
}


.car-detail {
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
}

.car-detail-header,
.car-detail-value {
    display: flex;
    justify-content: space-between;
}

.car-detail-header {
    font-weight: 700;
}

.admin-quote-request-description {
    display: flex;
    padding: 20px 0;
    word-break: break-all;
    padding-right: 5%;
}

.accept-btn-container {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-left: auto;
}

.admin-quote-detail {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    flex: 1;
}

.admin-quote-price-detail {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    padding: 5%;
}

.admin-quote-price-title {
    font-weight: 500;
}

.admin-quote-price-value {
    font-weight: 500;
    color: #3deb2d;
}

.price-description-tags {
    font-size: 15px;
}

.price-description-tags__title {
    margin-left: 5px;
}

.quote-price-description-header {
    font-weight: 500;
    padding: 5px 0;
}

.quote-description-tag-list {
    padding: 5px 0;
}

@media screen and (max-width: 991px) {
    .admin-quote-request-item-container {
        flex-direction: column;
    }
    .admin-quote-request-garage-img {
        width: 125px;
        height: 125px;
    }

    .admin-quote-request-garage-name {
        font-size: 20px;
    }
    .admin-quote-request-garage-address {
        font-size: 15px;
    }

    .vertical-line {
        margin: 10px 0;
    }
    .admin-quote-request-detail {
        font-size: 16px;
    }
    .admin-quote-request-detail-header {
        flex-direction: column;
    }
    .admin-quote-request-detail-header > div {
        display: flex;
        justify-content: space-between;
    }
    .car-detail {
        padding: 0px;
    }
    .admin-quote-request-description {
        padding: 10px 0;
    }

    .admin-quote-request-description {
        background: #f0f8ff;
    }
    .admin-quote-request-detail-fare {
        font-size: 20px;
    }
}