.user-profile {
    margin-top: 58px;
}

.user-profile-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: auto;
}

.user-profile-header {
    display: flex;
    padding: 40px;
}


.user-profile-phone-bar {
    display: flex;
    font-size: 25px;
}

.user-profile-phone-bar span {
    color: #c71e23;
}
@media screen and (max-width: 991px) {
    .user-profile-header {
        padding: 10px;
    }
    .user-profile-form-container {
        width: 100%;
    }
    .user-profile-phone-bar {
        font-size: 20px;
        padding: 10px;
    }
}