.city-cs {
    display: flex;
    justify-content: center;
}

.city-cs-text-section {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.city-cs-text-1 {
    font-family: ProximaNova;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: left;
    color: #c71e23;
}

.city-cs-text-2 {
    font-family: ProximaNova;
    font-size: 1.3rem;
    text-align: left;
    color: #000000;
}

.city-cs-image-section {
    width: 35%;
}

.city-cs-image-section img {
    width: 100%;
}

@media screen and (max-width: 991px) {
    .city-cs {
        flex-direction: column;
    }
    .city-cs-text-section {
        width: 100%;
        order: 2;
    }
    .city-cs-text-1 {
        font-size: 1.5rem;
        text-align: center;
    }
    .city-cs-text-2 {
        font-size: 1.1rem;
        text-align: center;
    }
    .city-cs-image-section {
        width: 100%;
        order: 1;
    }
}
