
.city-form-container {
    display: flex;
    justify-content: center;
}


.city-form-container > .city {
    flex:  0 0 12%;
}

.city-form-container > .email {
    flex: 0 0 30%;
    border: 1px solid #001f55;
    padding: 8px;
}

.city-form-container > .submit-btn {
    flex: 0 0 8%;
    border: 1px solid #001f55;
    background: #1f396c;
    padding: 8px;
    color: #ffffff;
    font-weight: bold;
}

.city-request-success {
    font-size: 2rem;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 991px) {
    .city-request {
        padding: 10px;
    }
    .city-form-container > .city {
        flex: none;
        width: 30%;
    }
    .city-form-container > .email {
        flex: none;
        width: 50%;
    }
    .city-form-container > .submit-btn {
        flex: none;
        width: 20%;
    }    
    .city-request-success {
        font-size: 1.5rem;
        text-align: center;
    }
}
