.profile-dd-menu {
    display: flex;
    position: absolute;
    top: 75px;
    width: 250px;
    right: 20px;
    background: #ffffff;
}

.profile-dd-menu-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: black;
}

.profile-dd-item {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.profile-dd-item:hover {
    background: #e5e5e5;
    cursor: pointer;
}
