.subheader-img-container {
    background: url('../../asset/images/Layer_1.png');
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: inset 0 0 0 1000px rgb(31,57,108, 0.6);
}

.subheader-img-inner-container {
    position: absolute;
    color: #ffffff;
    font-family: "Proxima Nova";
    height: auto;
    bottom: 20%;
    right: 10%;
}

.subheader-img-inner-container h1 {
    font-size: 60px;
    font-weight: 700;
    word-break: break-all;
}

.subheader-form-container {
    position: absolute;
    width: 40%;
    left: 10%;
    bottom: -6%;
    padding: 10px;
    background: white;
    box-shadow:  7px 12.1px 73px 0 rgba(34, 30, 31, 0.19)
}

.header-mobile {
    display: none;
}

@media screen and (max-width: 991px) {
    .subheader-img-container {
        height: 65vh;
    }

    .subheader-img-inner-container {
        top: 10px;
        left: 0px;
        right: 0px;
    }
    .subheader-img-inner-container h1 {
        font-size: 31px;
        text-align: center;
    }

    .header-web {
        display: none;
    }
    .header-mobile {
        display: block;
    }

    .subheader-form-container {
        width: 96%;
        left: 2%;
        top: 18%;
        bottom: none;
        right: 2%;
        padding: 10px;
        background: transparent;
        box-shadow: none;
    }
}