.topheader-container {
    background: #1f396c;
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}

.gt-login-btn-mobile {
    display: none;
}

.gt-nav {
    display: flex;
    justify-content: space-between;
    /* color: #171717; */
    color: white;
    font-family: Gotham;
    font-weight: 700;
    text-transform: uppercase;
}

.gt-nav a {
    color: inherit;
}

.gt-nav a:hover {
    text-decoration: none;
}

.gt-nav > div:first-child {
    flex: 0 1 4;
}

.row.header-row {
    padding: 8px;
    align-items: center;
}

.gt-nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    padding: 5px;
}

.gt-nav-item img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.gt-nav-item:hover {
    background: rgba(141, 165, 214, 0.2);
}
.gt-nav-item.profile {
    position: relative;
}

.gt-nav-item.profile:hover{
    cursor: pointer;
}
.gt-nav-item button {
    /* color: #1f396c; */
    font-weight: bold;
}

@media screen and (max-width: 991px) {
    .gt-nav {
        display: none;
    }
    .gt-logo-wrapper {
        padding: 0px;
        display: flex;
        justify-content: center;
        padding-top: 5px;
        padding-bottom: 5px;
        position: relative;
    }
    .gt-login-btn-mobile {
        display: block;
        position: absolute;
        right: 0px;
        bottom: 3px;
    }
    .gt-nav-item {
        margin-left: 0px;
    }
}