.about-section {
    display: flex;
    flex-direction: column;
    margin-top: 56px;
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.about-us-inner {
    width: 80%;
    display: flex;
}

.about-us-content {
    width: 50%;
}

.about-us-image {
    overflow: hidden;
    width: 50%;
}

.about-us-image > img {
    width: 100%;
}


.about-us-content-item1,
.about-us-content-item2,
.about-us-content-item3 {
    word-break: break-word;
    padding-right: 20px;
}

.about-us-content-item2,
.about-us-content-item3 {
    margin-top: 15px;
}

.contact-us {
    width: 80%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us-form-wrapper {
    width: 80%;
    padding: 20px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
}

@media screen and (max-width: 991px) {
    .about-us-inner {
        flex-direction: column;
        width: 96%;
    }
    .about-us-content {
        width: 100%;
        order: 2;
    }
    .about-us-image {
        width: 100%;
    }

    .contact-us {
        width: 100%;
    }
    .contact-us-form-wrapper {
        width: 96%;
    }
}
