.gp-gallary-images {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
    margin-top: 25px;
}

.gp-gallary-images-item {
    margin-left: 25px;
    margin-top: 25px;
}

.gp-gallary-images-item-container {
    width: 250px;
    height: 250px;
}

.gp-gallary-images-item-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gp-gallary-video {
    display: flex;
    width: 100%;
    justify-content: center;
}
.gp-gallary-video > iframe {
    width: 70%;
    height: 500px;
}


@media screen and (max-width: 991px) {
    .gp-gallary-video > iframe {
        width: 100%;
        height: 50vh;
    }
    .gp-gallary-images {
        padding: 0px;
    }
    .gp-gallary-images-item {
        margin: 0px;
        padding: 10px;
    }
    .gp-gallary-images-item-container {
        width: 100%;
        height: 37vh;
    }
}