.garage-profile-page {
    margin-top: 56px;
}

.gp-get-btn-bottom-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

@media screen and (max-width: 991px) {
    .garage-profile-page {
        margin-top: 36px;
    }
}