.gp-faqs-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
}

.gp-faq-list-item {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 25px;
    width: 45%;
}

.gp-faq-question {
    font-size: 20px;
    font-weight: 700;
}

.gp-faq-answer {
    margin-top: 10px;
    white-space: pre-wrap;
}

@media screen and (max-width: 991px) {
    .gp-faq-list-item {
        margin-left: 0px;
        width: 100%;
    }
    .gp-faq-question {
        font-size: 15px;
    }
    .gp-faq-answer {
        font-size: 12px;
    }

    .gp-faqs-list {
        margin-top: -40px;
    }

}
