.gp-facilities-section {
    /* margin-top: 60px; */
}

.gp-facilities {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 60px;
    background: #f6f6f6;
}

.gp-facility-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gp-facility-item-main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 175px;
    color: #1f396c;
    font-weight: 500;
    font-size: 20px;
}
.gp-numbers-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gp-numbers-item-main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: #1f396c;
    font-weight: 500;
    font-size: 20px;
}

.gp-facility-title,
.gp-numbers-title {
    margin-top: auto;
}

.gp-numbers {
    padding: 60px;
    background: #f6f6f6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.gp-facilitiies-header{
    margin: 32px;
    font-family: ProximaNova;
    font-size: 20px;
    font-weight: bold;
    line-height: 0.09;
    letter-spacing: normal;
    text-align: center;
    color: #c71e23;
}

.gp-facility_h1 {
    margin: 0px;
}

.gp-facility-item-tick img {
    width: 30px;
}

@media screen and (max-width: 991px) {
    .gp-facilities {
        flex-wrap: wrap;
        padding: 15px;
        padding-top: 0px;
    }
    .gp-facility-item-main-section {
        height: auto;
        font-size: 10px;
    }
    .facility-img-wrapper {
        width: 50px;
    }
    .facility-img-wrapper img {
        width: 100%;
    }
    .gp-facility-item-tick img {
        width: 15px;
    }
    .gp-facility-item {
        margin-top: 20px;
    }
    .gp-facility_h1 {
        font-size: 1.5rem;
    }

    .gp-numbers-item-main-section {
        width: 70px;
        height: auto;
        font-size: 12px;
    }

    .gp-numbers-item-main-section img {
        width: 100%;
    }

    .gp-numbers {
        padding: 10px;
        align-items: flex-start;
    }
    .gp-numbers-item {
        margin-top: 12px;
        margin-left: 18px;
    }

    .gp-numbers-title {
        text-align: center;
        margin-top: 5px;
    }
    .gp-facilitiies-header {
        margin: 20px;
    }
}