.garage-profile-content {
    padding: 20px;
    font-size: 30px;
}

.gp-item-content-container {
    background: #f0f8ff;
}

.garage-profile-item {
    /* border: 1px solid #E2E2E2; */
    margin-bottom: 20px;
    /* border-radius: 6px; */
    background-color: #ffffff;
}

.garage-profile-item-img {
    width: 100%;
    border-radius: 5%;
    overflow: hidden;
}

.garage-profile-item-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.garage-profile-profile-name {
    font-weight: 500;
    color: #cb202d;
}

.garage-profile-item-job,
.garage-profile-item-since,
.garage-profile-item-address,
.garage-profile-item-response-time {
    font-size: 20px;
}

.garage-profile-item-address {
    font-weight: 500;
}

.garage-profile-item-address > img {
    width: 24px;
}

.garage-profile-item-job {
    margin-top: 5px;
}
.garage-profile-item-response-time > span,
.garage-profile-item-job > span {
    font-weight: 500;
}

.garage-profile-item-response-time {

}

.garage-profile-item-intro{
    font-size: 18px;
    margin-top: 14px;
    width: 80%;
}

.garage-profile-item__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.btn-get-quote {
    border-radius: 5px;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-get-quote:hover {
    cursor: pointer;
}

.load-more-section {
    padding-bottom: 40px;
}

@media screen and (max-width: 991px) {
    .garage-profile-item-wrapper {
        width: 100%;
    }
    .garage-profile-item-img {
        width: 100%;
        height: 36vh;
        border-radius: 0px;
    }
    .garage-profile-content {
        padding: 15px;
        font-size: 20px;
    }
    .garage-profile-item-intro {
        width: 100%;
    }

    .garage-profile-item-job,
    .garage-profile-item-since,
    .garage-profile-item-address,
    .garage-profile-item-response-time {
        font-size: 16px;
    }

    .gp-profile-img-col {
        padding: 0px;
    }
        
}
