.admin-page {
    margin-top: 50px;
    background: #efefef;
}

.admin-header {
    width: 100%;
    padding: 20px;
    display: flex;
    background: greenyellow;
    justify-content: space-between;
}

.admin-form {
    display: flex;
}

.admin-quotes-container {
    padding: 2% 10%;
}

.admin-form-container {
    padding: 0 6%;
    padding-bottom: 1%;
}

.filter-form {
    display: flex;
}

.admin-form-item {
    margin-top: 20px;
}

.admin-form-item > input {
    width: 100%;
    border: 1px solid #001f55;
    padding: 8px;
}

.admin-form-item + .admin-form-item {
    margin-left: 20px;
}

.admin-form-item.select {
    width: 200px;
}

.admin-load-more {
    display: flex;
    justify-content: center;
    padding: 10px;
    background: rebeccapurple;
    color: white;
    margin-top: 20px;
}

@media screen and (max-width: 991px) {
    .admin-quotes-container
    {
        padding: 0;
    }
    .admin-form-container {
        padding: 0 2%;
        padding-bottom: 5%;
    }
}
