.quote-request-item {
    border: 1px solid rgba(0, 0, 0, 0.125);
    background: #efefef;
}

.quote-request-item + .quote-request-item {
    margin-top: 25px;
}

.quote-request-item-container {
    display: flex;
    padding: 10px;
    background: #fff;
}

.quote-request-garage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0.5;
}

.quote-request-garage:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.125);
}

.quote-request-garage-name {
    font-size: 25px;
    color: #cb202d;
    font-weight: 500;
}

.quote-request-garage-address {
    font-size: 20px;
}

.quote-request-garage-img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.quote-request-garage-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quote-request-detail-fare {
    margin-top: auto;
    margin-left: auto;
    font-size: 25px;
    font-weight: 500
}


.quote-request-detail-fare span {
    color: #3deb2d;
}

.vertical-line {
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin: 0 10px;
}

.quote-request-detail {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    flex: 1;
}

.quote-request-detail-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.quote-request-detail-header-date span {
    color: #cb202d;
}

.quote-request-detail-header-status span {
    color: #cb202d;
}


.car-detail {
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
}

.car-detail-header,
.car-detail-value {
    display: flex;
    justify-content: space-between;
}

.car-detail-header {
    font-weight: 700;
}

.quote-request-description {
    display: flex;
    padding: 20px 0;
    word-break: break-all;
    padding-right: 5%;
}

.accept-btn-container {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-left: auto;
}

.quote-detail {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    flex: 1;
    padding: 10px;
}

.quote-price-detail {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.quote-price-title {
    font-weight: 500;
}

.quote-price-value {
    font-weight: 500;
    color: #3deb2d;
}

.item-container {
    display: flex;
    justify-content: space-between;
}

.item-container .title {
    color: grey;
    font-weight: bold;
}

.item-container .value {
    color: gray;
}

.requested-by-header {
    color: #cb202d;
}

.gt-input {
    padding: 5px;
    border: 1px solid #cb202d;
    display: block;
    margin: 10px 0;
}

.request-sent-form {
    padding: 10px;
    margin-left: 20px;
}

.quote-price-description-header {
    font-weight: 500;
    padding: 5px 0;
}

.quote-description-tag-list {
    padding: 5px 0;
}

@media screen and (max-width: 991px) {
    .quote-request-item-container {
        flex-direction: column;
    }
    .quote-request-garage-img {
        width: 125px;
        height: 125px;
    }

    .quote-request-garage-name {
        font-size: 20px;
    }
    .quote-request-garage-address {
        font-size: 15px;
    }

    .vertical-line {
        margin: 10px 0;
    }
    .quote-request-detail {
        font-size: 16px;
    }
    .quote-request-detail-header {
        flex-direction: column;
    }
    .quote-request-detail-header > div {
        display: flex;
        justify-content: space-between;
    }
    .car-detail {
        padding: 0px;
    }
    .quote-request-description {
        padding: 10px 0;
    }

    .quote-request-description {
        background: #f0f8ff;
    }
    .quote-request-detail-fare {
        font-size: 20px;
    }
    .request-sent-form {
        margin: 0;
        padding: 0;
    }
    .quote-price-detail {
        padding: 0px;
    }
    .quote-price-description {
        
    }
}