.footer-section {
    padding-top: 50px;
}

.footer-wrapper {
    background: #1f396c;
    display: flex;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
}

.copyright-section {
    font-family: MicrosoftYaHei;
    font-size: 20px;
    text-align: left;
    color: #aab2bd;
}

@media screen and (max-width: 991px) {
    .logo-section {
        width: 30%;
    }
    .logo-section img {
        width: 100%;
    }
    .copyright-section {
        font-size: 12px;
        text-align: right;
    }
}