.search-form-container {
    flex: 1;
 padding: 10px;
}

.form-item {
    margin-top: 20px;
}

.form-item > input {
    width: 100%;
    border: 1px solid #001f55;
    padding: 8px;
}

.form-item.form-item-version {
    display: flex;
}

.form-item-version > label {
    width: 30%;
    font-weight: 500;
}
.form-item-version > div {
    width: 70%;
}

.form-item-version label {
    margin-bottom: 0px;
}

.form-search-btn {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 8px;
    background: #1f396c;
    color: white;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}

.form-search-btn:hover {
    cursor: pointer;
}

.model-year-container {
    display: flex;
    justify-content: space-between;
}

.model-year-container .form-item {
    width: 48%;
}

/* Controlling the react select */
.gt-react-select__control {
    border-color: #001f55 !important;
    border-radius: 0px !important;
}
.gt-react-select__value-container  {
    padding: 5px 8px !important;
}

.form-validation-errors {
    color: red;
    font-size: 12px;
}

textarea {
    width: 100%;
    border-color: #001f55;
    border-radius: 0px;
}

.otherdetails-label {
    margin-top: 15px;
    margin-bottom: 0px;
    font-weight: 500;
}

.form-item.location {
    display: flex;
    align-items: center;
}

.form-item.location > div:first-child {
    flex: 1;
}

.near-me-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background: #f4f4f4;
    position: relative;
    box-sizing: border-box;
    font-weight: bold;
    padding: 11px 02px;
}

.near-me-btn > img {
    width: 20px;
}

.near-me-btn:hover {
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    .form-item.otherdetails {
        display: none;
    }
    .form-item.form-item-version {
        display: none;
    }
    .otherdetails-label {
        display: none;
    }
    .search-form-header {
        color: white;
        font-weight: 500;
    }
    .form-search-btn {
        font-size: 18px;
        font-weight: 500;
    }
}