.home-page {
    margin-top: 56px;
    width: 100%;
}

.city-cs-container {
    padding-top: 8%;
}

.city-request-section {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.city-request-section-header {
    font-family: ProximaNova;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: #c71e23;
}

@media screen and (max-width: 991px) {
    .home-page {
        margin-top: 50px;
    }
    .city-cs-container {
        padding-top: 12%;
    }
    .city-request-section-header {
        font-size: 1.5rem;
    }
}