.info-section {
    padding-top: 70px;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 70px;
    padding-right: 70px;
}

.info-item-container {
    display: flex;
    justify-content: center;
}

.info-item-text-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 50%;
}

.info-item-image-container {
    width: 40%;
}

.info-item-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-item-text-1 {
    font-family: ProximaNova;
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    color: #c71e23;
    margin-right: 20px;
}

.info-item-text-2 {
    font-family: ProximaNova;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    color: #000000;
    margin-top: 20px;
}

.info-item-text-3 {
    font-size: 2rem;
    color: #000000;
}

@media screen and (max-width: 991px) {
    .info-container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .info-item-container {
        flex-direction: column;
    }

    .info-item-image-container {
        width: 100%;
        height: 250px;
        padding: 10px;
    }
    .info-item-text-container {
        width: 100%;
        margin-left: 0px;
        padding: 10px;
    }
    .info-item-text-1 {
        font-size: 1.1rem;
        margin-right: 0px;
    }
    .info-item-text-2 {
        font-size: 1rem;
        margin-top: 10px;
    }
    .info-item-text-3 {
        font-size: 1rem;
    }

}