.review-section {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
}

.review-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-header_title {
    margin-left: 12px;
    margin-right: 12px;
    font-family: ProximaNova;
    font-size: 20px;
    font-weight: bold;
    line-height: 0.09;
    letter-spacing: normal;
    text-align: center;
    color: #c71e23;
}

.review-header_title h1 {
    margin: 0px !important;
}

.review-header_star img {
    margin-left: 4px;
}

.review-header_star img:first-child {
    margin-left: 0px;
}


/* Review Item */
.review-item {
    /* background: #f6f6f6; */
    padding: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.review-item__inner {
    padding: 12px;
    display: flex;
    background: #f6f6f6;
    flex-direction: column;
}

.review-rating {
    display: flex;
    padding-top: 12px;
    justify-content: space-between;
    align-items: center;
}

.review-stars {
    display: flex;
}

.review-list {
    padding-top: 30px;
}

.review-list-wrappper {
    padding-left: 70px;
    padding-right: 70px;
}

/* Slick library css */
.slick-prev,
.slick-next{
    background-color: #1f396c !important;
    width: 35px !important;
    height: 35px !important;
}

.slick-prev {
    left: -50px !important;
}
.slick-next {
    right: -50px !important;
}


@media screen and (max-width: 991px) {
    .review-header_star {
        display: none;
    }
    .review-header_title h1{
        font-size: 2rem;
    }
    .review-list-wrappper {
        padding: 0px;
    }
    .review-section {
        padding-top: 40px;
    }
}