.service-shadow-box-fill {
    padding: 15px 10px 32px 38px;
}
.service-shadow-box-fill {
    display: block;
    background-color: #fff;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    transition: box-shadow 0.3s;
    margin-bottom: 10px;
    z-index: 99;
    border: 1px solid #e7ebeb;
    height: 100%;
}

.service-shadow-box-fill:hover {
    box-shadow: 0 5px 14px rgba(0,0,0,0.1);
}

.service-list li a {
    font-family: "Montserrat",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Avenir,"Helvetica-Neue","Helvetica","Arial",sans-serif;
    font-weight: 400;
    color: #6d7579;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    padding-top: 20px;
}

a:link {
    text-decoration: none !important;
}


.service-list li a:hover {
    color: rgb(226, 86, 30);
}

.service-list ul {
    list-style: none;
    padding-left: 0;
}
.service-list li {
    font-size: 16px;
    text-decoration: none;
}