.services-section {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.services-header-title {
    font-family: ProximaNova;
    font-size: 20px;
    font-weight: bold;
    line-height: 0.09;
    letter-spacing: normal;
    text-align: center;
    color: #c71e23;
}

.services-header-title h1 {
    margin: 0px !important;
}

.service-container {
    padding-top: 10px;
    padding-left: 70px;
    padding-right: 70px;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-item-container {
    background: #e6e5e5;
    width: 200px;
    height: 200px;
}

.service-item-container + .service-item-container {
    margin-left: 30px;
    margin-top: 30px;
}

.service-item-container:first-child {
    margin-left: 30px;
    margin-top: 30px;
}

.service-item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.service-item div {
    margin-top: 10px;
    text-align: center;
}

@media screen and (max-width: 991px) {

    .service-container {
        padding-left: 10px;
        padding-right: 10px;
    }
 
    .service-item-container {
        background: #e6e5e5;
        width: auto;
        height: auto;
    }
    
    .service-item-container + .service-item-container {
        margin-left: 15px;
        margin-top: 15px;
    }
    .service-item-container:first-child {
        margin-left: 15px;
        margin-top: 15px;
    }

    .service-item {
        padding: 10px;
        width: 145px;
    }
    .service-item img {
        width: 100%;
    }
}