.login-form {
    width: 100%;
}

.login-form-content {
    color: #999;
    border-radius: 1px;
    background: #fff;
    border: 1px solid #f3f3f3;
    /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */
    padding: 25px;
}

.login-form-header {
    display: flex;
    justify-content: center;
}

.login-form-header h4 {
    color: #636363;
    text-align: center;
    font-size: 30px;
    margin-top: 0;
}

.login-form .form-group {
    margin-bottom: 20px;
}

.login-form label {
    font-weight: normal;
    font-size: 13px;
}
.login-form .form-control {
    min-height: 38px;
    padding-left: 5px;
    box-shadow: none !important;
    border-width: 0 0 1px 0;
    border-radius: 0;
}
.login-form .form-control:focus {
    border-color: #ccc;
}
.login-form .input-group-addon {
    max-width: 42px;
    text-align: center;
    background: none;
    border-width: 0 0 1px 0;
    padding-left: 5px;
    border-radius: 0;
}
.login-form .btn {
    font-size: 16px;
    font-weight: bold;
    background: #1f396c;
    border-radius: 3px;
    border: none;
    min-width: 140px;
    outline: none !important;
}
.login-form .btn:hover, .login-form .btn:focus {
    background: #1b315d;
}
.login-form .hint-text {
    text-align: center;
    padding-top: 5px;
    font-size: 13px;
}

.login-form a {
    color: #fff;
    text-decoration: underline;
}
.login-form a:hover {
    text-decoration: none;
}
.login-form a {
    color: #19aa8d;
    text-decoration: none;
}	
.login-form a:hover {
    text-decoration: underline;
}
.login-form .fa {
    font-size: 21px;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
