.garage-list-section {
    width: 75%;
    background: #f5f5f5;
    margin-left: 25%;
}

.garage-list-section__header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.garage-list-heading_h1 {
    margin: 0px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #333;
}

.garage-list {
    /* background-color: #f5f5f5; */
    padding-top: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.garage-list-item-wrapper {
    display: inline-block;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.garage-list-content {
    padding: 20px;
    font-size: 30px;
}

.garage-list-item {
    border: 1px solid #E2E2E2;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: #ffffff;
}

.garage-list-item-img {
    width: 250px;
    height: 250px;
    border-radius: 5%;
    overflow: hidden;
}

.garage-list-item-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.garage-list-profile-name {
    font-weight: 500;
    color: #cb202d;
}

.garage-list-item-job,
.garage-list-item-since,
.garage-list-item-address,
.garage-list-item-response-time,
.garage-tags {
    font-size: 15px;
}

.garage-tags__title {
    margin-left: 5px;
}

.garage-list-item-address {
    font-weight: 500;
}

.garage-list-item-address > img {
    width: 24px;
}

.garage-list-item-job {
    margin-top: 5px;
}
.garage-list-item-response-time > span,
.garage-list-item-job > span {
    font-weight: 500;
}

.garage-list-item-intro{
    font-size: 16px;
    margin-top: 6px;
}

.garage-list-item__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}

.btn-get-quote {
    margin-top: 0px !important;
    margin-left: 20px;
}

.load-more-section {
    padding-bottom: 40px;
}

.garage-item-rating-icon + .garage-item-rating-icon {
    margin-left: 5px;
}
/* #155724 */
.request-success-btn {
    color: white;
    background-color: #17925f;
    border-color: #c3e6cb;
    width: 100%;
    margin-left: 5px;
    padding: 5px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    line-height: 22px;
    font-size: 25px;
}

.request-success-btn > span {
    font-size: 15px;
    line-height: 20px;
}

.get-quote {
    margin-left: 10px;
}

.request-success-btn img {
    width: 20px;
    height: 20px;
}

.request-success-btn.profile {
    width: 50%;
    float: right;
}

.gt-map-link {
    font-size: 14px;
}

@media screen and (max-width: 991px) {
    .garage-list {
        width: 100%;
    }
    .garage-list-item-wrapper {
        padding: 0px;
    }
    .garage-list-section {
        width: 100%;
        margin-left: 0px;

    }
    .garage-list-section__header {
        padding: 10px;
    }
    .garage-list-heading_h1 {
        font-size: 15px;
        line-height: 20px;
    }

    .garage-list-item-img {
        width: 100%;
        height: 120px;
        border-radius: 10%;
    }
    .garage-list-item-intro {
        font-size: 12px;
        background: #f0f8ff;
        padding: 10px;
    }

    .garage-list-content {
        padding: 15px; /* Don't remove this padding other it will break the list item*/
        font-size: 20px;
    }

    .request-success-btn {
        font-size: 12px;
    }

    .request-success-btn > span {
        font-size: 10px;
    }
}
