.garage-search-section {
    display: flex;
    margin-top: 56px;
}

.garage-empty-state,
.garage-loading-state {
    width: 75%;
    margin-left: 25%;
    display: flex;
    justify-content: center;
    margin-top: 15%;
    font-size: 4rem;
    color: darkred;
}

.garage-empty-state.profile{
    width: 100%;
    display: flex;
    margin: auto;
}

.garage-loading-state.profile {
    width: 100%;
    display: flex;
    margin: auto;
    margin-top: 17%;
}

.garage-loading-state .sk-spinner {
    transform: scale(2);
}

@media screen and (max-width: 991px) {
    .garage-search-section {
        flex-direction: column;
    }

    .garage-empty-state {
        width: 100%;
        margin-left: 0;
        font-size: 1.5rem;
        color: darkred;
    }
    .garage-loading-state {
        width: 100%;
        margin-left: 0%;
    }
    .garage-loading-state .sk-spinner {
        transform: scale(1);
    }
}
