.search-aside-section {
    width: 25%;
    position: fixed;
    box-shadow: 5px 0 5px -5px #333;
    height: 100%;
}

.search-aside-header {
    padding: 10px;
    padding-bottom: 0px;
}

.search-aside-header_h2 {
    margin: 0px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #333;
}

@media screen and (max-width: 991px) {
    .search-aside-section {
        width: 100%;
        position: static;
        box-shadow: none;
        height: auto;
    }
}